@tailwind preflight;
@tailwind components;

// Code syntax highlighting,
// powered by https://highlightjs.org
@import '~highlight.js/styles/a11y-light.css';

@import 'base';
@import 'navigation';
@import 'documentation';
@import 'search';

@tailwind utilities;

.logo-title{
	font-size: 1.9em;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}
